# 🔹 Virtual Environment
venv/
env/

# 🔹 Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# 🔹 Environment variables (Important 🔒)
.env

# 🔹 VS Code
.vscode/

# 🔹 OS files
.DS_Store
Thumbs.db

# 🔹 Logs
*.log